@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-noto-sarif {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.raleway-inter {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

li {
    list-style: none;
}

p {
    font-size: 22px;
}

h1 {
    font-size: 50px;
}

body {
    display: inline-flex;
    flex-direction: column;
    gap: 120px;
    margin: 30px 150px;
}

img {
    height: 100%;
}

h1 span {
    color: #E95A08;
}

header {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.logo-div img {
    height: 82px;
}

.nav-right,
.nav-right ul,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.nav-right ul li {
    padding: 10px 20px;
    box-sizing: border-box;
}

.nav-right div:hover,
.nav-right ul li:hover {
    font-weight: 600;
}

.nav-right div,
.nav-right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.nav-right {
    font-weight: 400;
}

header main {
    display: flex;
    align-items: center;
}

.header-main-left h1 {
    font-size: 65px;
}



body>main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

body>main p {
    width: 888px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.main-container .card img {
    height: 270px;
}

.main-container .card h3,
.main-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-container .card h3 span {
    font-weight: 800;
}

.main-container .card button {
    width: 100%;
    height: 35px;

    border: none;
    color: white;
    background: #E95A08;
}