@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-noto-sarif {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.raleway-inter {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    margin: 30px 150px;
}

img{
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.logo-div img {
    height: 82px;
}

.nav-right,
.nav-right ul,
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.nav-right ul li{
    padding: 10px 20px;
    box-sizing: border-box;
}

.nav-right div:hover,
.nav-right ul li:hover{
    font-weight: 600;
}

.nav-right{
    font-weight: 400;
}

header main{
    display: flex;
    align-items: center;
}

.main-left h1{
    font-size: 65px;
}
.main-left h1 span{
    color: #E95A08;
}
.main-left p{
    font-size: 22px;
}